In [7]:
#adding two numbres
print(2+5)
#multiplying two numbers
print(2*5)

7
10

In [14]:
#variables
a=2
print(a+a)
print(a*a)
print(a*a+a)
a="hello!!"
print(a)
a=2.0
print(a)

4
4
6
hello!!
2.0

In [ ]:
#data types


# None
# integer(2)
# float(3.0)
# boolean(True,False)
# list(a=[1,2.0,"hello"])
# tuple(a=(1,3.0,"kef"))
# set(a={1,2,3,3})
# dictionary(a={"a":1,"b":2})

In [16]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [17]:
a=[1,2.0,"hello"]#list
b=(1,2.0,"hello")#tuple
c={1,2,3,3}#set
d={"d":1,"r":3}#dict
print(a,b,c,d)

[1, 2.0, 'hello'] (1, 2.0, 'hello') {1, 2, 3} {'d': 1, 'r': 3}

In [18]:
#operation

# arthematic(+,-,*)
# assignment(=,+=,-=,*=)
# relational(==,!=,>,<,>=,<=)
# logical(and,or,not)
# bitwise(&,|)

In [20]:
a=2
if(a>3):
  print(a)
else:
  print("not greater then 4")

not greater then 4

In [21]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
a=1
while(a<10):
  print(a)
  a+=3   #a=a+1
  print(a)
  #a++
  #++a

1
4
4
7
7
10

In [29]:
a=int(input())
print(type(a))

123
<class 'int'>

In [ ]:
#data science and numpy package
# in data science
#include<math.io>
#for importing
# import is the keyword
#the pakages in DS

# numpy w3school
# pandas
# matplotlib

In [33]:
import numpy
a=numpy.array([1,2,3,4,5,5.0])
print(a)

[1. 2. 3. 4. 5. 5.]

In [34]:
#function in numpy
# linspace()
# logspace()
# arange()
# zeroes()
# onces()